<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB관리</title>
</head>

<body>
    <button class="goods-update" onclick="updateGoods()">상품 업데이트</button>
    <button class="goods-view" onclick="getGoods()">상품 보기</button>
</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/script/goods.js"></script>

</html>