<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB관리</title>
</head>
<body>
    <button id="goods-update" onclick="goodsUpdate()">상품 업데이트</button>
    <button class="goods-view" onClick=goods()>상품 보기</button>
</body>
<script>
    const goods = () => {
        location.href = location.href + "/goods";
    }
</script>
<script src="/script/goodsUpdate.js"></script>
</html>